*{margin: 0%;
padding: 0%;    
box-sizing: border-box;
}
body{
font-family: 'Epilogue', sans-serif;
}
nav{
/* border: 1px solid black; */
height: 50px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.left{
height: 100%;
padding: 0;
display: flex;
align-items: center;
width: 42%;
min-width: 500px;
}
.right{
max-width: 200px;
margin-right: 2%;
}
.logo{
margin-left: 8%;
margin-right: 12%;
}
.login-register{
display: flex;
justify-content: space-between;
width: 100px;
min-width: 150px;
margin: auto;
}
.login-register small{

display: flex;
align-items: center;
}
.register{
display: flex;
align-items: center;
border: 1px solid black;
padding: 9px 15px;
border-radius: 10px;
}
.click{
/* border: 1px solid black; */
align-items: center;
display: flex;
width: 100%;
height: 100%;
justify-content: space-between;
}
.arrow-down{
margin-left: 5px;
}
